@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

$font: "Open Sans", sans-serif;

$border-roundness: 10px;

$polar-night0: var(--color0);
$polar-night1: var(--color1);
$polar-night2: var(--color2);
$polar-night3: var(--color3);
$snow-storm0: var(--color4);
$snow-storm1: var(--color5);
$snow-storm2: var(--color6);
$frost0: var(--color7);
$frost1: var(--color8);
$frost2: var(--color9);
$frost3: var(--color10);
$aurora0: var(--color11);
$aurora1: var(--color12);
$aurora2: var(--color13);
$aurora3: var(--color14);
$aurora4: var(--color15);

.dark {
  --color0: #2e3440;
  --color1: #3b4252;
  --color2: #434c5e;
  --color3: #4c566a;
  --color4: #d8dee9;
  --color5: #e5e9f0;
  --color6: #eceff4;
  --color7: #8fbcbb;
  --color8: #88c0d0;
  --color9: #81a1c1;
  --color10: #5e81ac;
  --color11: #bf616a;
  --color12: #d08770;
  --color13: #ebcb8b;
  --color14: #a3be8c;
  --color15: #b48ead;
}

.light {
  --color0: #cfe3f8;
  --color1: #6277a1;
  --color2: #7287ad;
  --color3: #5f74a2;
  --color4: #27282b;
  --color5: #38383d;
  --color6: #484a4e;
  --color7: #bc8f8f;
  --color8: #d08888;
  --color9: #c18197;
  --color10: #ac5e72;
  --color11: #6ebf61;
  --color12: #70a0d0;
  --color13: #d38beb;
  --color14: #be998c;
  --color15: #8eb4ad;
}